@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    line-height: 12px;
    background: linear-gradient(blue, orange);  
    /* color: #414a50; */
    color: black;
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

a {
    color: #202020;
    text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

#wagon-link {
  margin: 16px auto;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(65, 74, 80, 0.5);
  background: linear-gradient(#DDDDDD, #AAAAAA); 
}

a:hover {
    /* background-color: yellow; */
    font-size: 105%;
}

.img-circle {
  border-radius: 20%;
  width: 250px;
  /* padding: 16px; */
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
  margin: 32px auto;
  text-align: center;
  padding: 16px;
  border-radius: 25px;
  box-shadow: 1px 1px 2px rgba(65, 74, 80, 0.5);
  background-color: rgba(250,250,250,0.8);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 30px;
  font-size: 2em;
}

#banner {
  background-image: url("https://videos.pexels.com/video-files/857251/857251-hd_1620_1080_25fps.mp4");
}

#name {
  background-color: rgba(250,250,250,0.8);
  color: black;
  padding: 16px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}